#store_hud { position:absolute; top:-5px; left:-5px; width: 1029px; height:773px; display:none; z-index:1000; }
#store_header { position: absolute; text-align:center; top: 50px; width:450px; padding:0 287px; }
#store { position:absolute; width:774px; height: 518px; left:125px; top:125px; background-color:#000; border:2px solid #ffffff; display:none; text-shadow: 2px 2px #000000; z-index:100000; }
#store_footer { text-align:center;}
#store_inventory { margin: 25px; border:1px solid #666; background-color:#333; height: 390px; padding:15px; }
#store_close { margin:0 auto; }

#store_inventory div.inventory { width:146px; float:left; margin:5px; text-align:center; padding:5px; }
#store_inventory div.inventory:hover { }
#store_inventory div.inventory div.name { font-size:18px; font-weight:bold; }
#store_inventory div.inventory div.cost { font-size:28px; font-weight:bold; }
#store_inventory div.inventory div.icon { height:56px; width:56px; border:4px outset #999; margin:5px auto; background:url(images/HUD/spritesheet.png) no-repeat; cursor:pointer; }

#store_inventory div.inventory div.icon.extralife { background-position:0 0; }
#store_inventory div.inventory div.icon.extralife:hover { background-position:-56px 0; }
#store_inventory div.inventory div.icon.extralife.click { background-position:-112px 0; }

#store_inventory div.inventory div.icon.increasedhealth { background-position:0 -112px; }
#store_inventory div.inventory div.icon.increasedhealth:hover { background-position:-56px -112px; }
#store_inventory div.inventory div.icon.increasedhealth.click { background-position:-112px -112px; }

#store_inventory div.inventory div.icon.speedboost { background-position:0 -168px; }
#store_inventory div.inventory div.icon.speedboost:hover { background-position:-56px -168px; }
#store_inventory div.inventory div.icon.speedboost.click { background-position:-112px -168px; }

#store_inventory div.inventory div.icon.fasterfiring { background-position:0 -224px; }
#store_inventory div.inventory div.icon.fasterfiring:hover { background-position:-56px -224px; }
#store_inventory div.inventory div.icon.fasterfiring.click { background-position:-112px -224px; }

#store_inventory div.inventory div.icon.playerdoublecannon { background-position:0 -672px; }
#store_inventory div.inventory div.icon.playerdoublecannon:hover { background-position:-56px -672px; }
#store_inventory div.inventory div.icon.playerdoublecannon.click { background-position:-112px -672px; }

#store_inventory div.inventory div.icon.playertriplecannon { background-position:0 -728px; }
#store_inventory div.inventory div.icon.playertriplecannon:hover { background-position:-56px -728px; }
#store_inventory div.inventory div.icon.playertriplecannon.click { background-position:-112px -728px; }

#store_inventory div.inventory div.icon.playercannonboost { background-position:0 -784px; }
#store_inventory div.inventory div.icon.playercannonboost:hover { background-position:-56px -784px; }
#store_inventory div.inventory div.icon.playercannonboost.click { background-position:-112px -784px; }

#store_inventory div.inventory div.icon.playerlaser { background-position:0 -840px; }
#store_inventory div.inventory div.icon.playerlaser:hover { background-position:-56px -840px; }
#store_inventory div.inventory div.icon.playerlaser.click { background-position:-112px -840px; }

#store_inventory div.inventory div.icon.playerdoublelaser { background-position:0 -896px; }
#store_inventory div.inventory div.icon.playerdoublelaser:hover { background-position:-56px -896px; }
#store_inventory div.inventory div.icon.playerdoublelaser.click { background-position:-112px -895px; }

#store_inventory div.inventory div.icon.playertriplelaser { background-position:0 -952px; }
#store_inventory div.inventory div.icon.playertriplelaser:hover { background-position:-56px -952px; }
#store_inventory div.inventory div.icon.playertriplelaser.click { background-position:-112px -952px; }

#store_inventory div.inventory div.icon.playerlaserboost { background-position:0 -1008px; }
#store_inventory div.inventory div.icon.playerlaserboost:hover { background-position:-56px -1008px; }
#store_inventory div.inventory div.icon.playerlaserboost.click { background-position:-112px -1008px; }

#store_inventory div.inventory div.icon.playermissile { background-position:0 -1064px; }
#store_inventory div.inventory div.icon.playermissile:hover { background-position:-56px -1064px; }
#store_inventory div.inventory div.icon.playermissile.click { background-position:-112px -1064px; }

#store_inventory div.inventory div.icon.playerdoublemissile { background-position:0 -1120px; }
#store_inventory div.inventory div.icon.playerdoublemissile:hover { background-position:-56px -1120px; }
#store_inventory div.inventory div.icon.playerdoublemissile.click { background-position:-112px -1120px; }

#store_inventory div.inventory div.icon.playertriplemissile { background-position:0 -1176px; }
#store_inventory div.inventory div.icon.playertriplemissile:hover { background-position:-56px -1176px; }
#store_inventory div.inventory div.icon.playertriplemissile.click { background-position:-112px -1176px; }

#store_inventory div.inventory div.icon.playermissileboost { background-position:0 -1232px; }
#store_inventory div.inventory div.icon.playermissileboost:hover { background-position:-56px -1232px; }
#store_inventory div.inventory div.icon.playermissileboost.click { background-position:-112px -1232px; }

#store_inventory div.inventory div.icon.playermg { background-position:0 -1288px; }
#store_inventory div.inventory div.icon.playermg:hover { background-position:-56px -1288px; }
#store_inventory div.inventory div.icon.playermg.click { background-position:-112px -1288px; }

#store_inventory div.inventory div.icon.playerdoublemg { background-position:0 -1288px; }
#store_inventory div.inventory div.icon.playerdoublemg:hover { background-position:-56px -1288px; }
#store_inventory div.inventory div.icon.playerdoublemg.click { background-position:-112px -1288px; }

#store_inventory div.inventory div.icon.playertriplemg { background-position:0 -1344px; }
#store_inventory div.inventory div.icon.playertriplemg:hover { background-position:-56px -1344px; }
#store_inventory div.inventory div.icon.playertriplemg.click { background-position:-112px -1344px; }

#store_inventory div.inventory div.icon.playermgboost { background-position:0 -1400px; }
#store_inventory div.inventory div.icon.playermgboost:hover { background-position:-56px -1400px; }
#store_inventory div.inventory div.icon.playermgboost.click { background-position:-112px -1400px; }

#store_inventory div.inventory div.icon.playerincreasearmor { background-position:0 -1456px; }
#store_inventory div.inventory div.icon.playerincreasearmor:hover { background-position:-56px -1456px; }
#store_inventory div.inventory div.icon.playerincreasearmor.click { background-position:-112px -1456px; }

#store_inventory div.inventory div.icon.shieldrestore { background-position:0 -56px; }
#store_inventory div.inventory div.icon.shieldrestore:hover { background-position:-56px -56px; }
#store_inventory div.inventory div.icon.shieldrestore.click { background-position:-112px -56px; }

#store_inventory div.inventory div.icon.shieldhealth { background-position:0 -448px; }
#store_inventory div.inventory div.icon.shieldhealth:hover { background-position:-56px -448px; }
#store_inventory div.inventory div.icon.shieldhealth.click { background-position:-112px -448px; }

#store_inventory div.inventory div.icon.genarmor { background-position:0 -280px; }
#store_inventory div.inventory div.icon.genarmor:hover { background-position:-56px -280px; }
#store_inventory div.inventory div.icon.genarmor.click { background-position:-112px -280px; }

#store_inventory div.inventory div.icon.gen100health { background-position:0 -336px; }
#store_inventory div.inventory div.icon.gen100health:hover { background-position:-56px -336px; }
#store_inventory div.inventory div.icon.gen100health.click { background-position:-112px -336px; }

#store_inventory div.inventory div.icon.genweakturret { background-position:0 -392px; }
#store_inventory div.inventory div.icon.genweakturret:hover { background-position:-56px -392px; }
#store_inventory div.inventory div.icon.genweakturret.click { background-position:-112px -392px; }

#store_inventory div.inventory div.icon.genmissileturret { background-position:0 -560px; }
#store_inventory div.inventory div.icon.genmissileturret:hover { background-position:-56px -560px; }
#store_inventory div.inventory div.icon.genmissileturret.click { background-position:-112px -560px; }

#store_inventory div.inventory div.icon.genlaserturret { background-position:0 -504px; }
#store_inventory div.inventory div.icon.genlaserturret:hover { background-position:-56px -504px; }
#store_inventory div.inventory div.icon.genlaserturret.click { background-position:-112px -504px; }

#store_inventory div.inventory div.icon.genmachinegunturret { background-position:0 -616px; }
#store_inventory div.inventory div.icon.genmachinegunturret:hover { background-position:-56px -616px; }
#store_inventory div.inventory div.icon.genmachinegunturret.click { background-position:-112px -616px; }