body { background-color:#333; color: #fff; text-align:center; padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; text-shadow: 2px 2px #000000; }

#game { margin:0 auto; text-align:left; width:1024px; height:768px; background-color:#000; position:relative; }
#overlay { width:1024px; height:768px; position:absolute; z-index:9999; }

#canvas { background-color: #000; }

#loading { position:absolute; background-color:#fff; color:#000; width:400px; left:319px; top:300px; text-align:center; padding:5px; text-shadow:none; }
#loading h1{ margin:0; }
#loading_bar { border:1px solid black; width:300px; margin:0 auto;}
#loading_percent { background-color:#f00; height:15px; width:1px; }

#countdown { position:absolute; font-size:72px; width:45px; font-weight:bold; color:#ffffff; text-shadow: 2px 2px #000000; top:348px; left:489px;  }

#hud_bottom { position:absolute; top:30px; padding:5px; width:1014px; display:none; }
#hud_bottom h2, #hud_bottom div { display:inline; }
#hud_bottom h2 { font-size: 18px; font-weight:normal;  }
#hud_bottom .detail { font-size:24px; font-weight:bold; }
#hud_bottom #hud_left { position:absolute; bottom:5px; left:5px; }
#hud_bottom #hud_middle { position:absolute; bottom:5px; left:338px; width:338px; }
#hud_bottom #hud_right { position:absolute; bottom:5px; right:5px;  }

#hud_bottom #lives { background:url(images/HUD/LifeIcon.png) repeat-x; display:block; height:34px; width: 0px; }
#hud_bottom #health { display:block; border:2px solid #fff; }
#hud_bottom #current_health { height:16px; width:334px; background-color:#cc0; display:block;  }
#hud_bottom #current_health.invulnerable { background-color:#00f; }

#game_over { display:none; position:absolute; width:350px; height: 120px; top: 324px; left: 337px; text-align:center; background-color:#000; border:2px solid #fff; }
#game_over p { font-weight:bold; font-size:20px; }
#game_over span { cursor: pointer; font-size: 16px; }

.clearfix:after { content:"."; visibility:hidden; display:block; clear:both; color:#000; }
