body { background-color:#333; color: #fff; text-align:center; padding:0; margin:0; }

#game { margin:0 auto; text-align:left; width:1024px; height:768px; background-color:#000; position:relative; }

#canvas { background-color: #000; }

#loading { position:absolute; background-color:#fff; color:#000; width:400px; left:319px; top:300px; text-align:center; padding:5px;}
#loading h1{ margin:0; }
#loading_bar { border:1px solid black; width:300px; margin:0 auto;}
#loading_percent { background-color:#f00; height:15px; width:1px; }

#hud_bottom { position:absolute; top:30px; padding:5px; width:1014px; display:none; }
#hud_bottom h2, #hud_bottom div { display:inline; }
#hud_bottom h2 { font-size: 18px; font-weight:normal; }
#hud_bottom .detail { font-size:24px; font-weight:bold; }
#hud_bottom #hud_left { position:absolute; bottom:5px; left:5px; }
#hud_bottom #hud_middle { position:absolute; bottom:5px; left:338px; width:338px; }
#hud_bottom #hud_right { position:absolute; bottom:5px; right:5px;  }

#hud_bottom #lives { background:url(images/HUD/LifeIcon.png) repeat-x; display:block; height:34px; width: 0px; }
#hud_bottom #health { display:block; border:2px solid #fff; }
#hud_bottom #current_health { height:16px; width:334px; background-color:#cc0; display:block;  }
#hud_bottom #current_health.invulnerable { background-color:#00f; }

#store { position:absolute; width:774px; height: 518px; left:125px; top:125px; background-color:#000; border:2px solid #ffffff; display:none; }
#store_header { padding: 15px; text-align: center;}
#store_footer { padding: 15px; text-align:center;}
#store_inventory { margin:0 35px; border:1px solid #666; background-color:#333; height: 350px; padding:15px; }
#store_close { margin:0 auto; }

#store_inventory div.inventory { width:146px; float:left; margin:5px; text-align:center; padding:5px; }
#store_inventory div.inventory:hover { }
#store_inventory div.inventory div.name { font-size:18px; font-weight:bold; }
#store_inventory div.inventory div.cost { font-size:28px; font-weight:bold; }
#store_inventory div.inventory div.icon { height:56px; width:56px; border:4px outset #999; margin:5px auto; background:url(images/store/spritesheet.png) no-repeat; cursor:pointer; }

#store_inventory div.inventory div.icon.extralife { background-position:0 0; }
#store_inventory div.inventory div.icon.extralife:hover { background-position:-56px 0; }
#store_inventory div.inventory div.icon.extralife.click { background-position:-112px 0; }

#store_inventory div.inventory div.icon.repairshields { background-position:0 -56px; }
#store_inventory div.inventory div.icon.repairshields:hover { background-position:-56px -56px; }
#store_inventory div.inventory div.icon.repairshields.click { background-position:-112px -56px; }

#store_inventory div.inventory div.icon.increasedhealth { background-position:0 -112px; }
#store_inventory div.inventory div.icon.increasedhealth:hover { background-position:-56px -112px; }
#store_inventory div.inventory div.icon.increasedhealth.click { background-position:-112px -112px; }

#store_inventory div.inventory div.icon.speedboost { background-position:0 -168px; }
#store_inventory div.inventory div.icon.speedboost:hover { background-position:-56px -168px; }
#store_inventory div.inventory div.icon.speedboost.click { background-position:-112px -168px; }

#store_inventory div.inventory div.icon.fasterfiring { background-position:0 -224px; }
#store_inventory div.inventory div.icon.fasterfiring:hover { background-position:-56px -224px; }
#store_inventory div.inventory div.icon.fasterfiring.click { background-position:-112px -224px; }

#game_over { display:none; position:absolute; width:350px; height: 120px; top: 324px; left: 337px; text-align:center; background-color:#000; border:2px solid #fff; }
#game_over p { font-weight:bold; font-size:24px; }
#game_over span { cursor: pointer; font-size: 16px; }

.clearfix:after { content:"."; visibility:hidden; display:block; clear:both; color:#000; }
